* {
    font-family: ubuntu;
    
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.cabecalho {
    background-color: black;
    border-bottom: solid 5px #fff;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    font-size: 40px;
    padding: 15px 15px 15px 50px;
    color: #000000;
    z-index: 3;
    position: absolute;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    float: right;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
}

.menu a {
    padding: 15px;
}

.menu a:hover,
.menu a::selection {
    background-color: #eee;
    color: #000;
}

.efeito1 {
    position: absolute;
    background-color: rgb(240, 196, 64);
    height: 600px;
    width: 600px;
    transform: rotate(20deg);  
    top: -120px;  
    left: -50px;
    border-radius: 0px 50px 70px 0px;
    z-index: 2;
}

.efeito2 {
    position: absolute;
    background-color: #f4f2f2;
    height: 505px;
    width: 600px;
    transform: rotate(50deg);
    top: -50px;
    left: 140px;
    border-radius: 0px 90px 70px 0px;
}
