* {
    font-family: ubuntu;
    
}

body {
    margin: 0;
    
}

.cabecalho {
    
    border-bottom: solid 5px #fff;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    font-size: 40px;
    padding: 15px 15px 15px 50px;
    color: #000000;
    z-index: 3;
    position: absolute;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    float: right;
    color: #000;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
}

.menu a {
    padding: 15px;
}

.menu a:hover,
.menu a::selection {
    background-color: #eee;
    color: #000;
}

.efeito1 {
    position: fixed;
    background-color: rgb(240, 196, 64);
    height: 900px;
    width: 800px;
    transform: rotate(20deg);  
    top: -150px;  
    left: -100px;
    border-radius: 0px 120px 120px 0px;
    z-index: 2;
}

.efeito2 {
    position: fixed;
    background-color: #f4f2f2;
    height: 850px;
    width: 300px;
    transform: rotate(35deg);
    top: 40px;
    left: 500px;
    border-radius: 0px 90px 180px 0px;
    z-index: 1;
    
}



