* {
    font-family: ubuntu;
    
}


.logo {
    display: inline-block;
    font-size: 40px;
    padding: 15px 15px 15px 50px;
    color: #000000;
    z-index: 3;
    position: absolute;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    float: right;
    color: #000;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
}

.menu a {
    padding: 15px;
}

.menu a:hover,
.menu a::selection {
    background-color: #eee;
    color: #000;
}

.efeito1 {
    position: absolute;
    background-color: rgb(240, 196, 64);
    height: 900px;
    width: 800px;
    transform: rotate(20deg);  
    top: -150px;  
    left: -100px;
    border-radius: 0px 120px 120px 0px;
    z-index: 2;
}

.efeito2 {
    position: absolute;
    background-color: #f4f2f2;
    height: 850px;
    width: 300px;
    transform: rotate(35deg);
    top: 40px;
    left: 500px;
    border-radius: 0px 90px 180px 0px;
    z-index: 1;
    
}

.sobre {
    position: absolute;
    margin-top: 59vh;
    
    background-color: rgba(243, 243, 243, 0.322);
    width: 99vw;
    height: 99vh;
}


/* page - 2 */

.sobre{
    
    padding-top: 8rem;

}
 .bloco-sobre {
    background-color: #242424;
    width: 450px;
    height: 500px;
    border-radius: 5px;
    margin-right: 150px;
} 
#texto-sobre {
    width: 40vw;
    padding-top: 3em;
}
 #formato-espacado {
    background-color: rgb(240, 196, 64);
    width: 15px;
    height: 20rem;
    border-radius: 8px;
    margin-top: 5%;
    
    
} 
#page2-image {
    left: 200px;
    top: 40px;
    width: 530px;
    
    position: relative;
    rotate: 1deg
}