* {
    font-family: ubuntu;
}

body {
    margin: 0;
    background-color: yellow;
}

.cabecalho {
    background-color: black;
    border-bottom: solid 5px #fff;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    font-size: 40px;
    padding: 15px 15px 15px 50px;
    color: #fff;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    float: right;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
}

.menu a {
    padding: 15px;
}

.menu a:hover,
.menu a::selection {
    background-color: #eee;
    color: #000;
}